<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-0lax{text-align:left;vertical-align:top}
.act[readonly] {
  background-color: grey;
}
</style>
<table class="tg">
<thead>
  <tr>
    <th class="tg-0lax">Hora</th>
    <th class="tg-0lax">lunes</th>
    <th class="tg-0lax">martes</th>
    <th class="tg-0lax">miercoles</th>
    <th class="tg-0lax">jueves</th>
    <th class="tg-0lax">viernes</th>
    <th class="tg-0lax">sabado</th>
    <th class="tg-0lax">domingo</th>
  </tr>
</thead>
<tbody>
  {% for hour in day_to_act[0] %}
    {% set display_hour = loop.index0 %}
    <tr>
      <td>{{display_hour}}</td>
    {% for day in day_to_act %}
      <td><input class = "act" readonly type="text" value="{{day[display_hour].act}}" day="{{loop.index0}}" hour="{{display_hour}}"></td>
    {% endfor %}
    </tr>
  {% endfor %}
</tbody>
</table>
  </body>
  <script type="text/javascript">
      function edit_act(event){
      console.log(event);
    }
  for(element of document.querySelectorAll(".act")){
    element.addEventListener("dblclick", event => {
      event.target.removeAttribute("readonly");
    });

    element.addEventListener("focusout", event => {

      element = event.target;

      if (element.hasAttribute("readonly"))
        return;

      value = element.value;
      payload = {
        day: element.getAttribute("day"),
        hour: element.getAttribute("hour")
      }

      console.log(payload)
      // axios.post("/change", payload)
      element.setAttribute("readonly", "");
    });
  }
  </script>
</html>
