<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-0lax{text-align:left;vertical-align:top}
</style>
<table class="tg">
<thead>
  <tr>
    <th class="tg-0lax">lunes</th>
    <th class="tg-0lax">martes</th>
    <th class="tg-0lax">miercoles</th>
    <th class="tg-0lax">jueves</th>
    <th class="tg-0lax">viernes</th>
    <th class="tg-0lax">sabado</th>
    <th class="tg-0lax">domingo</th>
  </tr>
</thead>
<tbody>
  {% for element in day_to_act[0] %}
    {% set outer_loop = loop.index0 %}
    <tr>
    {% for day in day_to_act %}
      <td>{{day[outer_loop].act}}</td>
    {% endfor %}
    </tr>
  {% endfor %}
</tbody>
</table>
  </body>
</html>
